<form (ngSubmit)="onSubmit()" #taskForm="ngForm">
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Due Date" name="dueDate" [(ngModel)]="taskDueDate" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker panelClass="custom-datepicker"></mat-datepicker>
  </mat-form-field>  
  <mat-form-field>
    <input matInput type="text" name="name" [(ngModel)]="taskName" placeholder="Task Name" required>
  </mat-form-field>
  <mat-form-field>
    <mat-select name="priority" [(ngModel)]="taskPriority" placeholder="Priority" required>
      <mat-option value="low">Low</mat-option>
      <mat-option value="medium">Medium</mat-option>
      <mat-option value="high">High</mat-option>
    </mat-select>
  </mat-form-field>
  <button type="submit" [disabled]="!taskForm.valid">Add Task</button>
</form>
